:root{
    --section-heading-colour: #fbb401;
    --heading-colour: #2b2b2c;
    --date-font-color: hsl(240, 1%, 38%);
    --section-bg-colour: #f9f6ef;

    --navbar-width: 30%;
    --section-heights: 800px;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;    
}

html {
    font-family: Verdana, 'Times New Roman', Times, sans-serif;
}

body {
    background-color: #2b2b2c;
}


/* TEXT */
h1 {
    font-size: 400%;
    font-weight: bold;
    color: var(--heading-colour);
    text-shadow: #ffffff -2px -2px;
    
    display: inline-block;
    position: absolute;
    right: calc(3% + var(--navbar-width));
    top: 180px;
    
}

#greeting {
    /* font-family: Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-size: 380%;
    font-weight: bold;    
    color: var(--heading-colour);
    text-shadow: #ffffff -1px -1px;


    display: inline-block;
    position: absolute;
    right: calc(3% + var(--navbar-width));
    top:110px;
}

#current-role{
    font-size: 140%;
    font-weight: bold;    
    color: var(--heading-colour);
    text-shadow: #ffffff -1px -1px;


    display: inline-block;
    position: absolute;
    right: calc(4% + var(--navbar-width));
    top:270px;
}

.inner-text {
    padding: 60px;
}

.section-heading {
    font-size: 220%;
    font-weight: bold;
    color: var(--section-heading-colour);
    text-shadow: #ffffff -2px -2px;

    margin-top: 100px;
    margin-bottom: -10px;
    margin-left: 60px;
}

ul.skills-list {
    list-style: disc;
    margin: -40px 0px 0px 100px;
}

.summary {
    padding-right: 50px;
}

.experience-item {
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0px;
}

.company {
    font-weight: bold;
    margin: 10px 0px;
}

.date-range {
    color:#585859;
    margin: 5px 0px;
}

/* PAGES */
section.pages {
    background-color: var(--section-bg-colour);
    
    display: inline-block;
    position: static;
    height: var(--section-heights);
    width: calc(100% - var(--navbar-width));

    margin-top: 64px;    
}

/* IMAGE */
img.landing { 
    width: 250px;
    
    top: 240px;
    display: inline-block;
    position: relative;
    left: 18%;
    
    --fade-amount: 80%;
    -webkit-mask-image: radial-gradient(circle, black, black var(--fade-amount), transparent 85%);
    mask-image: radial-gradient(circle, black, black var(--fade-amount), transparent 85%);
}

img.contact { 
    width: 250px;
    
    top: 50px;
    display: inline-block;
    position: relative;
    left: 12%;
    
    --fade-amount: 80%;
    -webkit-mask-image: radial-gradient(circle, black, black var(--fade-amount), transparent 85%);
    mask-image: radial-gradient(circle, black, black var(--fade-amount), transparent 85%);
}

.button-scheme {
    border-style: groove;
    border-radius: 10px;
    padding: 20px;

    display: inline-block;
    position: fixed;
    right: calc(6% + var(--navbar-width));
    top:400px;

    color: #fbb401;
    font-size: 100%;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #fbb40144;
}

.button-scheme-email{
    border-style: groove;
    border-radius: 10px;
    padding: 25px;
    width: 150px;
    height: 80px;

    display: inline-block;
    position: fixed;
    left: calc(100% - 55%);
    top:270px;

    color: #fbb401;
    font-size: 120%;
    text-align: center;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #fbb40144;
}

.button-scheme-linkedin{
    border-style: groove;
    border-radius: 10px;
    padding: 25px;
    width: 150px;
    height: 80px;

    display: inline-block;
    position: fixed;
    left: calc(100% - 55%);
    top: 395px;

    color: #fbb401;
    font-size: 120%;
    text-align: center;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #fbb40144;
}

.button-scheme-github{
    border-style: groove;
    border-radius: 10px;
    padding: 25px;
    width: 150px;
    height: 80px;

    display: inline-block;
    position: fixed;
    left: calc(100% - 55%);
    top:520px;

    color: #fbb401;
    font-size: 130%;
    text-align: center;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #fbb40144;
}

/* NAV-BAR */
header .navbar {
    display: inline-block;
    position:absolute;
    right: 0;
    height: var(--section-heights);
    width: var(--navbar-width);
    
    background: var(--section-bg-colour);
}

.navbar:hover {
    background-color: #fbb401;
}

.navbar-heading {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    
    padding: 20px;
    background: var(--heading-colour);
}

ul {
    width: 100%;
    list-style: none;
}

ul li a {
    color: var(--heading-colour);
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: capitalize;

    top: 180px;
    padding: 5px 8px;
    display: block;
    position: relative;
    transition: 0.3s;
    overflow: hidden;
}

ul li a i {
    width: 70px;
    font-size: 25px;
    text-align: center;
    padding-left: 30px;
}

ul li:hover a {
    color: #ffffff;
    letter-spacing: 2px;

}