/* Fonts */
:root{
    --section-heading-colour: #fbb401ab;
    --heading-colour: #2b2b2c;
    --date-font-color: hsl(240, 1%, 38%);
    --section-bg-colour: #f8f2e5;

    --navbar-width: 30%;
    --section-heights:1000px;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;    
}

html {
    font-family: Verdana, 'Times New Roman', Times, sans-serif;
}

body {
    background-color: #2b2b2c;
}

h1 {
    font-size: 400%;
    font-weight: bold;
    color: var(--heading-colour);
    text-shadow: #ffffff -2px -2px;
    
    display: inline-block;
    position: absolute;
    right: calc(5% + var(--navbar-width));
    top: 170px;
    
}

#greeting {
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    font-weight: bold;    
    color: #f59b15;
    text-shadow: #ffffff -1px -1px;


    display: inline-block;
    position: absolute;
    right: calc(7% + var(--navbar-width));
    top:270px;
}

img {
    
    width: 200px;
    /* box-shadow: 10px 10px 5px rgba(216, 226, 229, 0.309) inset; */
    
    top: 200px;
    display: inline-block;
    position: relative;
    left: 12%;
    
    --fade-amount: 80%;
    -webkit-mask-image: radial-gradient(circle, black, black var(--fade-amount), transparent 85%);
    mask-image: radial-gradient(circle, black, black var(--fade-amount), transparent 85%);
}

#inner-text {
    margin: 50px;

}

#inner-text-heading {
    font-size: 220%;
    font-weight: bold;
    color: var(--section-heading-colour);
    text-shadow: #ffffff -2px -2px;

    margin-top: 140px;
    margin-bottom: -10px;
    margin-left: 30px;
}

.about-heading {
    font-size: 220%;
    font-weight: bold;
    color: var(--section-heading-colour);
    text-shadow: #e3e3e3 2px 2px;

    margin-top: 80px;
    margin-bottom: -10px;
    margin-left: 40px;
}

.about-text {
    margin: 50px;
}

.summary {
    padding-right: 50px;
}

section.landing-section {

    background-color: var(--section-bg-colour);

    display: inline-block;
    position: static;
    height: var(--section-heights);
    width: calc(100% - var(--navbar-width));

    margin-top: 64px;
}

section.about-me {
    background-color: var(--section-bg-colour);
    
    display: inline-block;
    position: static;
    height: var(--section-heights);
    width: calc(100% - var(--navbar-width));

    margin-top: 64px;    
}

section.experience {
    background-color: var(--section-bg-colour);
    
    display: inline-block;
    position: static;
    height: var(--section-heights);
    width: calc(100% - var(--navbar-width));

    margin-top: 64px;
}

section.volunteer {
    background-color: #82828449;
    padding: 30px;

    --fade-amount: 7%;
    -webkit-mask-image: linear-gradient(to bottom, transparent, black var(--fade-amount), black calc(100% - var(--fade-amount)), transparent);
    mask-image: linear-gradient(to bottom, transparent, black var(--fade-amount), black calc(100% - var(--fade-amount)), transparent);
}

section.education {
    background-color: #9dbaba57;
    
    padding: 30px;

    --fade-amount: 7%;
    -webkit-mask-image: linear-gradient(to bottom, transparent, black var(--fade-amount), black calc(100% - var(--fade-amount)), transparent);
    mask-image: linear-gradient(to bottom, transparent, black var(--fade-amount), black calc(100% - var(--fade-amount)), transparent);
}

section.contact {
    background-color: #82828449;
    padding: 30px;

    --fade-amount: 7%;
    -webkit-mask-image: linear-gradient(to bottom, transparent, black var(--fade-amount), black calc(100% - var(--fade-amount)), transparent);
    mask-image: linear-gradient(to bottom, transparent, black var(--fade-amount), black calc(100% - var(--fade-amount)), transparent);
}

header .navbar {
    display: inline-block;
    position:absolute;
    right: 0;
    height: var(--section-heights);
    width: var(--navbar-width);
    
    background: var(--section-bg-colour);
}

.navbar:hover {
    background-color: #fbb401;
}

.navbar-heading {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    
    padding: 20px;
    background: var(--heading-colour);
}

ul {
    width: 100%;
    list-style: none;
}

ul li a {
    color: var(--heading-colour);
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: capitalize;

    top: 180px;
    padding: 5px 8px;
    display: block;
    position: relative;
    transition: 0.3s;
    overflow: hidden;
}

ul li a i {
    width: 70px;
    font-size: 25px;
    text-align: center;
    padding-left: 30px;
}

ul li:hover a {
    color: #ffffff;
    letter-spacing: 2px;

}



/* .experience-item {
    font-weight: bold;
    font-size: 18px;
    padding:0%
}

.company {
    font-weight: bold;
    margin-top: -10px;
}


.date-range {
    color:#585859
}


section.about-me {
    background-color: #91919249;
    margin: 0px;
    padding: 30px;

    --fade-amount: 7%;
    -webkit-mask-image: linear-gradient(to bottom, transparent, black var(--fade-amount), black calc(100% - var(--fade-amount)), transparent);
    mask-image: linear-gradient(to bottom, transparent, black var(--fade-amount), black calc(100% - var(--fade-amount)), transparent);
    
}

section.experience {
    background-color: #9dbaba57;
    padding: 30px;

    --fade-amount: 7%;
    -webkit-mask-image: linear-gradient(to bottom, transparent, black var(--fade-amount), black calc(100% - var(--fade-amount)), transparent);
    mask-image: linear-gradient(to bottom, transparent, black var(--fade-amount), black calc(100% - var(--fade-amount)), transparent);
}

section.volunteer {
    background-color: #82828449;
    padding: 30px;

    --fade-amount: 7%;
    -webkit-mask-image: linear-gradient(to bottom, transparent, black var(--fade-amount), black calc(100% - var(--fade-amount)), transparent);
    mask-image: linear-gradient(to bottom, transparent, black var(--fade-amount), black calc(100% - var(--fade-amount)), transparent);
}

section.education {
    background-color: #9dbaba57;
    
    padding: 30px;

    --fade-amount: 7%;
    -webkit-mask-image: linear-gradient(to bottom, transparent, black var(--fade-amount), black calc(100% - var(--fade-amount)), transparent);
    mask-image: linear-gradient(to bottom, transparent, black var(--fade-amount), black calc(100% - var(--fade-amount)), transparent);
}

section.contact {
    background-color: #82828449;
    padding: 30px;

    --fade-amount: 7%;
    -webkit-mask-image: linear-gradient(to bottom, transparent, black var(--fade-amount), black calc(100% - var(--fade-amount)), transparent);
    mask-image: linear-gradient(to bottom, transparent, black var(--fade-amount), black calc(100% - var(--fade-amount)), transparent);
} */